.logo {
  margin-left: 2px;
  color: grey;
}

nav {
  position: fixed;
  z-index: 12341234;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.nav {
  height: 40px;
  background-color: black;
}

.navcomps {
  list-style: none;
}

.navcomps li {
  font-size: 14px;
  padding-right: 20px;
  display: inline-block;
}
.navcomps li a:hover {
  color: green;
}

@media screen and (max-width: 600px) {
  .navcomps li {
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.navcomps li a {
  text-decoration: none;
  font-family: cursive;
  color: white;
  transition: color ease 0.5s;
}
