.logo {
  margin-left: 2px;
  color: grey;
}

nav {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.nav {
  height: 40px;
  background-color: black;
}

.navcomps {
  list-style: none;
}

.navcomps li {
  font-size: 10px;
  padding-right: 33px;
  display: inline-block;
}
.navcomps li a:hover {
  color: green;
}

.navcomps li a {
  text-decoration: none;
  font-family: cursive;
  color: white;
  transition: color ease 0.5s;
}
