.logo {
  margin-left: 2px;
  color: grey;
}

nav {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.navcomps {
  list-style: none;
}

.navcomps li {
  font-size: 15px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 40px;
}

.navcomps li a:hover {
  color: green;
}

.navcomps li a {
  text-decoration: none;
  font-family: cursive;
  color: white;
  transition: color ease 0.5s;
}
